/* line 218, icon/*.png */
.icon-sprite, .icon-arrow_left, .icon-arrow_right, .icon-bigarrow_left, .icon-bigarrow_right, .icon-bigicon-s2495372ad1_20, .icon-blog, .icon-contact, .icon-dot_left, .icon-dot_off, .icon-dot_on, .icon-dot_right, .icon-facebook, .icon-folder, .icon-google, .icon-home, .icon-key, .icon-plusone, .icon-rss-ico, .icon-twitter, .icon-vimeo, .icon-youtube {
  background: url('stylesheets/images/icon-sc51f1f8e4f.png') no-repeat;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow_left {
  background-position: 0 -614px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow_right {
  background-position: 0 -609px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bigarrow_left {
  background-position: 0 -179px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bigarrow_right {
  background-position: 0 -112px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bigicon-s2495372ad1_20 {
  background-position: 0 -332px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-blog {
  background-position: 0 -92px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contact {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dot_left {
  background-position: 0 -403px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dot_off {
  background-position: 0 -272px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dot_on {
  background-position: 0 -246px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dot_right {
  background-position: 0 -373px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -569px;
}
/* line 43, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook:hover, .icon-facebook.facebook_hover, .icon-facebook.facebook-hover {
  background-position: 0 -589px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-folder {
  background-position: 0 -433px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-google {
  background-position: 0 -493px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home {
  background-position: 0 -553px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-key {
  background-position: 0 -315px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-plusone {
  background-position: 0 -353px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-rss-ico {
  background-position: 0 -298px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -453px;
}
/* line 43, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter:hover, .icon-twitter.twitter_hover, .icon-twitter.twitter-hover {
  background-position: 0 -473px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-vimeo {
  background-position: 0 -513px;
}

/* line 60, ../../../../../../../../compass126/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-youtube {
  background-position: 0 -533px;
}

@-moz-keyframes my-animation {
  /* line 15, ../sass/styles.scss */
  0%, 100% {
    background-color: blue;
  }

  /* line 18, ../sass/styles.scss */
  50% {
    background-color: red;
  }
}

@-webkit-keyframes my-animation {
  /* line 15, ../sass/styles.scss */
  0%, 100% {
    background-color: blue;
  }

  /* line 18, ../sass/styles.scss */
  50% {
    background-color: red;
  }
}

@-o-keyframes my-animation {
  /* line 15, ../sass/styles.scss */
  0%, 100% {
    background-color: blue;
  }

  /* line 18, ../sass/styles.scss */
  50% {
    background-color: red;
  }
}

@-ms-keyframes my-animation {
  /* line 15, ../sass/styles.scss */
  0%, 100% {
    background-color: blue;
  }

  /* line 18, ../sass/styles.scss */
  50% {
    background-color: red;
  }
}

@keyframes my-animation {
  /* line 15, ../sass/styles.scss */
  0%, 100% {
    background-color: blue;
  }

  /* line 18, ../sass/styles.scss */
  50% {
    background-color: red;
  }
}

@-moz-keyframes move-circle {
  /* line 24, ../sass/styles.scss */
  0% {
    left: -11px;
    top: -13px;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 28, ../sass/styles.scss */
  50% {
    -moz-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 32, ../sass/styles.scss */
  75% {
    -moz-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 36, ../sass/styles.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -13px;
    top: -13px;
  }
}

@-webkit-keyframes move-circle {
  /* line 24, ../sass/styles.scss */
  0% {
    left: -11px;
    top: -13px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 28, ../sass/styles.scss */
  50% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 32, ../sass/styles.scss */
  75% {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 36, ../sass/styles.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -13px;
    top: -13px;
  }
}

@-o-keyframes move-circle {
  /* line 24, ../sass/styles.scss */
  0% {
    left: -11px;
    top: -13px;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 28, ../sass/styles.scss */
  50% {
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 32, ../sass/styles.scss */
  75% {
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 36, ../sass/styles.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -13px;
    top: -13px;
  }
}

@-ms-keyframes move-circle {
  /* line 24, ../sass/styles.scss */
  0% {
    left: -11px;
    top: -13px;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 28, ../sass/styles.scss */
  50% {
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 32, ../sass/styles.scss */
  75% {
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 36, ../sass/styles.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -13px;
    top: -13px;
  }
}

@keyframes move-circle {
  /* line 24, ../sass/styles.scss */
  0% {
    left: -11px;
    top: -13px;
    transform: rotate(0deg);
  }

  /* line 28, ../sass/styles.scss */
  50% {
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 32, ../sass/styles.scss */
  75% {
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 36, ../sass/styles.scss */
  100% {
    transform: rotate(360deg);
    left: -13px;
    top: -13px;
  }
}

@-moz-keyframes move-circle-inverse {
  /* line 44, ../sass/styles.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: -12px;
    top: -12px;
  }

  /* line 48, ../sass/styles.scss */
  50% {
    -moz-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 52, ../sass/styles.scss */
  75% {
    -moz-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 56, ../sass/styles.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -11px;
    top: -11px;
  }
}

@-webkit-keyframes move-circle-inverse {
  /* line 44, ../sass/styles.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: -12px;
    top: -12px;
  }

  /* line 48, ../sass/styles.scss */
  50% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 52, ../sass/styles.scss */
  75% {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 56, ../sass/styles.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -11px;
    top: -11px;
  }
}

@-o-keyframes move-circle-inverse {
  /* line 44, ../sass/styles.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: -12px;
    top: -12px;
  }

  /* line 48, ../sass/styles.scss */
  50% {
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 52, ../sass/styles.scss */
  75% {
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 56, ../sass/styles.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -11px;
    top: -11px;
  }
}

@-ms-keyframes move-circle-inverse {
  /* line 44, ../sass/styles.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    left: -12px;
    top: -12px;
  }

  /* line 48, ../sass/styles.scss */
  50% {
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 52, ../sass/styles.scss */
  75% {
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 56, ../sass/styles.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    left: -11px;
    top: -11px;
  }
}

@keyframes move-circle-inverse {
  /* line 44, ../sass/styles.scss */
  0% {
    transform: rotate(0deg);
    left: -12px;
    top: -12px;
  }

  /* line 48, ../sass/styles.scss */
  50% {
    transform: rotate(120deg);
    left: -11px;
    top: -13px;
  }

  /* line 52, ../sass/styles.scss */
  75% {
    transform: rotate(240deg);
    left: -11px;
    top: -13px;
  }

  /* line 56, ../sass/styles.scss */
  100% {
    transform: rotate(360deg);
    left: -11px;
    top: -11px;
  }
}

/* line 71, ../sass/styles.scss */
.logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('stylesheets/images/logo.png?1362389573');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 192px;
  display: inline-block;
}

/* line 75, ../sass/styles.scss */
.intro {
  text-align: center;
}
/* line 78, ../sass/styles.scss */
.intro h1, .intro h2 {
  font-family: 'Old Standard TT', serif;
  font-weight: 200;
  font-size: 2em;
  color: #373737;
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
/* line 84, ../sass/styles.scss */
.intro h3 {
  font-family: 'Old Standard TT', serif;
  font-weight: 200;
  font-size: 1.5em;
  color: #373737;
  font-style: normal;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/* line 96, ../sass/styles.scss */
.publications .headersection h1, .publications .headersection h2, .publications .headersection h3, .publications .headersection h4, .evenements .headersection h1, .evenements .headersection h2, .evenements .headersection h3, .evenements .headersection h4, .associes .headersection h1, .associes .headersection h2, .associes .headersection h3, .associes .headersection h4 {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 101, ../sass/styles.scss */
.publications .headersection h1 span, .publications .headersection h2 span, .publications .headersection h3 span, .publications .headersection h4 span, .evenements .headersection h1 span, .evenements .headersection h2 span, .evenements .headersection h3 span, .evenements .headersection h4 span, .associes .headersection h1 span, .associes .headersection h2 span, .associes .headersection h3 span, .associes .headersection h4 span {
  font-weight: 200;
  font-size: 0.8em;
  position: relative;
  top: -0.15em;
  line-height: 125%;
  display: inline-block;
}

/* line 110, ../sass/styles.scss */
.publications .headersection {
  background-color: #ed8900;
}

/* line 114, ../sass/styles.scss */
.button-circle {
  font-size: 2em;
  text-align: center;
  padding-top: 0.12em;
  position: relative;
  color: #fff;
  background-color: #000000;
  height: 66px;
  width: 66px;
  border: 8px solid #000;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  line-height: 42px;
}
/* line 115, ../sass/styles.scss */
.button-circle:hover {
  -webkit-animation: my-animation 10s infinite;
  -moz-animation: my-animation 10s infinite;
  -ms-animation: my-animation 10s infinite;
  -o-animation: my-animation 10s infinite;
  animation: my-animation 10s infinite;
}
/* line 128, ../sass/styles.scss */
.button-circle:before, .button-circle:after {
  content: ' ';
  background-color: transparent;
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 500px;
  z-index: 50;
  position: absolute;
  top: -12px;
  left: -12px;
  box-sizing: content-box;
  border-style: solid;
  border-width: 18px 18px;
  border-color: white white transparent transparent;
}
/* line 146, ../sass/styles.scss */
.button-circle:after {
  content: ' ';
  top: -11px;
  left: -13px;
  border-style: solid;
  border-color: transparent transparent #fff #fff;
}
/* line 157, ../sass/styles.scss */
.button-circle:hover:after {
  -webkit-animation: move-circle 0.5s;
  -moz-animation: move-circle 0.5s;
  -ms-animation: move-circle 0.5s;
  -o-animation: move-circle 0.5s;
  animation: move-circle 0.5s;
}
/* line 158, ../sass/styles.scss */
.button-circle:hover:before {
  -webkit-animation: move-circle-inverse 0.5s;
  -moz-animation: move-circle-inverse 0.5s;
  -ms-animation: move-circle-inverse 0.5s;
  -o-animation: move-circle-inverse 0.5s;
  animation: move-circle-inverse 0.5s;
}
